<div class="row">
	<div class="col-md-12 col-sm-12">
		<p>
		<strong class="text-success">Enfermedad(es) diagnosticada(s)
			(CIE10)</strong>
		</p>
		<div class="form-group">
			<div class="col-sm-6 col-lg-6 col-md-6">
				<input type="text" placeholder="teclee para buscar la enfermedad de acuerdo al CIE10" class="form-control input-sm">
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="form-group">
			<p>
				<strong class="text-info"> Diagnostico(Dx)* </strong>
			</p>
			<textarea class="form-control" rows="15"></textarea>
		</div>
	</div>
</div>