<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
		<div class="col-md-6 col-sm-6 col-lg-6">
			<fieldset>
				<legend>
					<small class="text-success">Signos Vitales</small>
				</legend>
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<form class="form-horizontal">

							<div class="row">
								<div class="col-sm-12 col-lg-12 col-md-12">
									<div class="form-group">
										<label class="col-sm-2 col-lg-2 control-label">TA: </label>
										<div class="col-sm-4 col-lg-4 col-md-4">
											<input type="text" placeholder=""
												class="form-control input-sm">
										</div>
										<label class="col-sm-2 col-lg-2 control-label">Temp: </label>
										<div class="col-sm-4 col-lg-4 col-md-4">
											<input type="text" placeholder=""
												class="form-control input-sm">
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-lg-12 col-md-12">
									<div class="form-group">
										<label class="col-sm-2 col-lg-2 control-label">FR: </label>
										<div class="col-sm-4 col-lg-4 col-md-4">
											<input type="text" placeholder=""
												class="form-control input-sm">
										</div>
										<label class="col-sm-2 col-lg-2 control-label">FC: </label>
										<div class="col-sm-4 col-lg-4 col-md-4">
											<input type="text" placeholder=""
												class="form-control input-sm">
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6">
			<fieldset>
				<legend>
					<small class="text-success">Colesterol y trigliceridos</small>
				</legend>

				<div class="row">
					<div class="col-sm-12 col-lg-12 col-md-12">
						<div class="form-group">
							<label class="col-sm-2 col-lg-2 control-label">Trigliceridos:
							</label>
							<div class="col-sm-4 col-lg-4 col-md-4">
								<input type="text" placeholder="" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12 col-lg-12 col-md-12">
						<div class="form-group">
							<label class="col-sm-2 col-lg-2 control-label">Colesterol:
							</label>
							<div class="col-sm-4 col-lg-4 col-md-4">
								<input type="text" placeholder="" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>


			</fieldset>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
		<div class="col-md-6 col-sm-6 col-lg-6">
			<fieldset>
				<legend>
					<small class="text-success">Medidas antropom&eacute;tricas</small>
				</legend>
			</fieldset>
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<form class="form-horizontal">

						<div class="row">
							<div class="col-sm-12 col-lg-12 col-md-12">
								<div class="form-group">
									<label class="col-sm-2 col-lg-2 control-label">Talla: </label>
									<div class="col-sm-4 col-lg-4 col-md-4">
										<input type="text" placeholder=""
											class="form-control input-sm">
									</div>
									<label class="col-sm-2 col-lg-2 control-label">Peso: </label>
									<div class="col-sm-4 col-lg-4 col-md-4">
										<input type="text" placeholder=""
											class="form-control input-sm">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12 col-lg-12 col-md-12">
								<div class="form-group">
									<label class="col-sm-2 col-lg-2 control-label">Cadera:
									</label>
									<div class="col-sm-4 col-lg-4 col-md-4">
										<input type="text" placeholder=""
											class="form-control input-sm">
									</div>
									<label class="col-sm-2 col-lg-2 control-label">Cintura:
									</label>
									<div class="col-sm-4 col-lg-4 col-md-4">
										<input type="text" placeholder=""
											class="form-control input-sm">
									</div>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-lg-6">
			<fieldset>
				<legend>
					<small class="text-success">Hemoglobina</small>
				</legend>
				<div class="row">
					<div class="col-sm-12 col-lg-12 col-md-12">
						<div class="form-group">
							<label class="col-sm-2 col-lg-2 control-label">A1C: </label>
							<div class="col-sm-8 col-lg-8 col-md-8">
								<input type="text" placeholder="" class="form-control input-sm">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
		<fieldset>
			<legend>
				<small class="text-success">Exploraci&oacute;n f&iacute;sica</small>
			</legend>
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>Habitus exterior</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>
								Genitales
							</p>
							<textarea class="form-control" rows=3"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>Cabeza</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>Extremidades</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12">
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>Cuello</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>
								Columna vertebral
							</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>T&oacute;x</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-3 col-lg-3 col-sm-3">
						<div class="form-group">
							<p>Abdomen</p>
							<textarea class="form-control" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>