<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="form-group">
			<div class="col-sm-6 col-lg-6 col-md-6">
				<input type="text" placeholder="Marca o sustancia activa" class="form-control input-sm">
			</div>
			<div class="col-sm-3 col-lg-3 col-md-3">
				<input type="text" placeholder="Dosis y duraci&oacute;n" class="form-control input-sm">
			</div>
			<div class="col-sm-3 col-lg-3 col-md-3">
				<button class="btn btn-sm btn-primary"><li class="fa fa-plus"></li> Agregar</button>
			</div>
		</div>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-10 col-sm-10">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Sustancia</th>
					<th>Presentaci&oacute;n</th>
					<th>Dosis</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>DOLAC</td>
					<td>KETOROLACO</td>
					<td>SOLUCION</td>
					<td>100 mg durante 8 dias</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="form-group">
			<p>
				<strong class="text-info"> Escriba indicaciones sobre el tratamiento*: </strong>
			</p>
			<textarea class="form-control" rows="5"></textarea>
		</div>
	</div>
</div>